body {
  margin: 0px;
}

.clock_face {
  margin: auto;
  border-radius: 50%;
  background-color: antiquewhite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper_digits {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.digit {
  border-radius:50%;
  background-color: lightgreen;
  position: absolute;
  transform: translate(-50%, -50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid black 4px;
  background-color: red;
}

.second_hand {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 4;
  background-color: red;
}

.minute_hand {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 2;
  background-color: black;
}

.hours_hand {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 1;
  background-color: black;
}